<article id="first" class="container box style1 right">
    <a href="#" class="image fit">
        <video muted="" loop=""  autoplay="autoplay">
            <source src="/assets/media/hackson4-short.mp4" type="video/mp4">
        </video>
    </a>
    <div class="inner">
        <header>
            <h2>2017/12/02 <br> 青年署見習心得發表會</h2>
        </header>
        <p>
            地點：國立臺灣大學公共衛生學院<br>
            活動：大家發表心得<br>
            食物：餐盒 Buffet 版 🥐
        </p>
        <a href="#banner" class="button style1 scrolly-middle">更多紀錄</a>
    </div>
</article>