<article id="first" class="container box style1 left">
    <a href="#" class="image fit">
        <img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?auto=format&fit=crop&w=1950&q=80" alt="" />
    </a>
    <div class="inner">
        <header>
            <h2>報名與初選</h2>
        </header>
        <p>
            因為是用青年署的資源，當然是在青年署網站上報名囉
            <br> 初選的原則只有一個，平權！
        </p>
        <a href="#banner" class="button style1 scrolly-middle">看看我們怎麼達到平權吧 >_<</a>
    </div>
</article>