<article id="hackson1" class="container box style1 left">
    <p href="#" class="image fit">
        <video muted="" loop=""  autoplay="autoplay">
            <source src="/assets/media/hackson1-short.mp4" type="video/mp4">
        </video>
    </p>
    <div class="inner">
        <header>
            <h2>2017/10/02  <br> 期初見面會</h2>
        </header>
        <p>
            地點：行政院第四會議室<br>
            活動：小天使與熱血青年相見歡？
        </p>
        <a href="#banner" class="button style1 scrolly-middle">更多紀錄</a>
    </div>
</article>