<section id="admission" class="container box style1">
    <header>
        <h2>{{ site.data.settings.admission.title }}</h2>
    </header>
    <p>
        {% for item in site.data.settings.admission.content %}
            {{item}}<br>
        {% endfor %}
    </p>
    <footer>
        <a href="https://ray.pdis.nat.gov.tw/#admission-list" target="_blank" class="button scrolly">{{ site.data.settings.admission.more }}</a>
    </footer>
</section>

<style>
    #admission {
        text-align: center;
    }
</style>