<section id="header">
    <header>
        <h1>{{site.data.settings.banner.en}}</h1>
        <p>{{site.data.settings.banner.zh_TW}}</p>
    </header>
    <footer>
        <a href="#banner" class="button style2 scrolly-middle">{{site.data.settings.banner.more}}</a>
    </footer>
</section>

<style>
    #header {
        background: url(https://ray.pdis.nat.gov.tw/img/header_min.jpg);
        background-color: #0e0805db;
        background-size: cover;
        background-blend-mode: overlay;
    }
</style>