<script>
    var playerInfoList = new Array();
</script> {% for hackson in site.data.hacksons %}
<article class="container box style1 {{hackson.type}}">
    <p href="#" class="image fit">
        <video muted="" loop="" autoplay="autoplay">
            <source src="{{hackson.video}}" type="video/mp4">
        </video>
    </p>
    <div class="inner">
        <header>
            <h2>{{hackson.date}}
                <br>{{hackson.title}}</h2>
        </header>
        <p>
            {% for item in hackson.content %} {{item}}
            <br> {% endfor %}
        </p>
        <a class="button style1 scrolly-middle" data-toggle="modal" data-target="#{{hackson.detail}}">更多紀錄</a>
    </div>
</article>

<div class="modal fade" id="{{hackson.detail}}" tabindex="-1" role="dialog" aria-labelledby="ApplyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-video embed-responsive embed-responsive-16by9">
                <div id="{{hackson.youtube}}"></div>
                <!-- <iframe  type="text/html" width="640" height="360"
                src="https://www.youtube.com/embed/{{hackson.youtube}}"
                frameborder="0"></iframe> -->
                <script>
                    var player = {
                        id: '{{hackson.youtube}}',
                        height: '390',
                        width: '640',
                        playerVars: {
                            playlist: '{{hackson.youtube}}',
                            loop: 1
                        }
                    }

                    playerInfoList.push(player);

                    // function onYouTubeIframeAPIReady() {
                    //     var player = new YT.Player('UID{{hackson.youtube}}', {
                    //         playerVars: {
                    //             playlist: '{{hackson.youtube}}',
                    //             loop: 1
                    //         }
                    //     });
                    // }

                    $('#{{hackson.detail}}')
                        .on('show.bs.modal', function (e) {
                            YT.get('{{hackson.youtube}}').playVideo();
                            YT.get('{{hackson.youtube}}').setPlaybackQuality('small');
                        })
                        .on('hide.bs.modal', function (e) {
                            YT.get('{{hackson.youtube}}').pauseVideo();
                        })
                </script>

            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% capture content %}{% include markdown/{{hackson.detail}}.md %}{% endcapture %} {{ content | markdownify }}
            </div>
        </div>
    </div>
</div>





{% endfor %}
<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var players = new Array();

    function onYouTubeIframeAPIReady() {
        if (typeof playerInfoList === 'undefined') return;

        for (var i = 0; i < playerInfoList.length; i++) {
            var curplayer = createPlayer(playerInfoList[i]);
            players[i] = curplayer;

        }
    }


    function createPlayer(playerInfo) {
        return new YT.Player(playerInfo.id, {
            height: playerInfo.height,
            width: playerInfo.width,
            playerVars: {
                playlist: playerInfo.playerVars.playlist,
                loop: playerInfo.playerVars.loop
            }
        });
    }
</script>