{% for hackson in site.data.hacksons %}
<article class="container box style1 {{hackson.type}}">
    <p href="#" class="image fit">
        <video muted="" loop=""  autoplay="autoplay">
            <source src="{{hackson.video}}" type="video/mp4">
        </video>
    </p>
    <div class="inner">
        <header>
            <h2>{{hackson.date}}<br>{{hackson.title}}</h2>
        </header>
        <p>
            {% for item in hackson.content %}
                {{item}}<br>
            {% endfor %}
        </p>
        <a class="button style1 scrolly-middle" data-toggle="modal" data-target="#{{hackson.detail}}">更多紀錄</a>
    </div>
</article>

<div class="modal fade" id="{{hackson.detail}}" tabindex="-1" role="dialog" aria-labelledby="ApplyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{hackson.youtube}}?controls=0" frameborder="0" gesture="media" allow="encrypted-media"  allowfullscreen></iframe>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% capture content %}{% include markdown/{{hackson.detail}}.md %}{% endcapture %}
                {{ content | markdownify }}
            </div>
        </div>
    </div>
</div>

{% endfor %}