<article id="banner">
    <header>
        <h2>{{site.data.settings.kickoff.title}}</h2>
    </header>
    <p>
        {% for item in site.data.settings.kickoff.content %}
            {{item}}<br>
        {% endfor %}
    </p>
    <footer style="text-align:center">
        <p class="button style2 scrolly" data-toggle="modal" data-target="#PrepareModal">{{site.data.settings.kickoff.more}}</p>
    </footer>
</article>

<!-- Modal -->
<div class="modal fade" id="PrepareModal" tabindex="-1" role="dialog" aria-labelledby="PrepareModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% capture content %}{% include markdown/kickoff.md %}{% endcapture %}
                {{ content | markdownify }}
            </div>
        </div>
    </div>
</div>